# Pipeline

In [10]:
import pandas as pd

from sklearn import base
from sklearn import model_selection

random_state = 42

In [3]:
X = pd.read_csv('data/train-cleaned.csv')
y = X.pop('y')

In [7]:
X_train, X_test, y_train, y_test = model_selection.train_test_split(X, y, random_state=random_state)

In [8]:
X.head()

,Unnamed: 0,x0,x1,x2,x3,x4,x5,x6,x7,x8,...,month_march,month_may,month_november,month_october,month_september,month_nan,market_america,market_asia,market_europe,market_nan
0,0,10.142889,-15.675620,3.583176,-22.397489,27.221894,-34.110924,-0.072829,-0.544444,0.997601,...,0,0,0,0,0,0,0,0,1,0
1,1,-52.214630,5.847135,-10.902843,-14.132351,20.588574,36.107322,0.115023,0.276093,-0.699168,...,0,0,0,0,0,0,0,1,0,0
2,2,67.718500,2.064334,12.394186,-18.667102,47.465504,-50.373658,0.253707,1.068968,2.939713,...,0,0,0,0,0,0,0,1,0,0
3,3,-28.003111,8.565128,-8.592092,5.918960,-3.224154,78.315783,-0.879845,1.176889,-2.414752,...,0,1,0,0,0,0,0,1,0,0
4,4,80.703016,30.736353,-30.101857,-21.201140,-91.946233,-47.469246,-0.646831,-0.578398,0.980849,...,0,0,0,0,0,0,0,1,0,0

In [11]:
class ColumnSelector(base.BaseEstimator, base.TransformerMixin):
    def __init__(self, columns):
        self.columns = columns

    def fit(self, X, y=None):
        return self

    def transform(self, X):
        assert isinstance(X, pd.DataFrame)

        try:
            return X[self.columns]
        except KeyError:
            cols_error = list(set(self.columns) - set(X.columns))
            raise KeyError("The DataFrame does not include the columns: %s" % cols_error)

In [12]:
class TypeSelector(base.BaseEstimator, base.TransformerMixin):
    def __init__(self, dtype):
        self.dtype = dtype

    def fit(self, X, y=None):
        return self

    def transform(self, X):
        assert isinstance(X, pd.DataFrame)
        return X.select_dtypes(include=[self.dtype])

In [ ]:
cs = ColumnSelector(columns=X)
cs.fit_transform(X).head()